<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 导入vue.js -->
    <script src="../day02/lib/vue.js"></script>
    <script src="../day02/lib/vue-router.js"></script>
</head>
<body>
    <!-- 将来new的vue实例会控制元素中所有内容 -->
    <!-- vue实例控制的这个元素区域就是我们的 V -->
    <div id="app">
        <!-- 要监听文本框数据改变
        1.
        -->

        <input type="text" name="" id="" v-model="firstname" @keyup="getfullname"> +
        <input type="text" name="" id="" v-model="lastname" @keyup="getfullname"> =
        <input type="text" name="" id="" v-model="fullname" @keyup="getfullname">
    </div>
    <script>
        var text1 = {
            template:'<input type="text"></input>'
        }
        var text2 = {
            template:'<input type="text"></input>'
        }
        var text3 = {
            template:'<input type="text"></input>'
        }
        // 创建一个vue的实例
        //当我们导入包后。浏览器内存中多个vue构造函数
        // 注意：我们new 出来的这个vm 对象就是我们的VM
        var vm = new Vue({
            el: '#app', //表示当前我们new的实例要控制页面上的那个区
            //这里的data就是MVVM中的M，专门用来保存数据
            data:{//data数学中，存放的是el中要用到的数据
                firstname:'',
                lastname:'',
                fullname:''
            },
            methods:{
                getfullname(){
                    this.fullname = this.firstname+'-'+this.lastname
                }
            }
        })
    </script>
</body>
</html>